@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url(/imgs/3d_unicode.ttf);
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@font-face {
    font-family: qart;
    src: url(/imgs/3d_unicode.ttf);
}
::selection {
    background: rgba(95, 95, 95, 0.5);
  }
  ::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
    transition: 0.25s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #757474;
}
*{
    font-family: qart;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    text-align: center;
    
  
}
li, a {
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px;
    border-color: rgba(95, 95, 95, 0.5);
    
}

.logo a{
    cursor: pointer;
    font-family: 'Nabla', cursive;
    margin: 0;
    font-size: 30px;
    transition: 0.25s ease-out ;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #202125;
    
}
.logo a:hover {
    box-shadow: 0 0 15px 5px #0087ca;
    background-color: #0087ca;
    border-radius: 10px;
    
}
.nav_links{
    list-style: none;
    margin-left: 20px;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    display: inline-block;
    position: relative;
    background-color: #202125;
    border-radius: 10px;
    padding: 6px 10px 6px 10px;
    margin-bottom: 2px;
}
.nav_links li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1.5px;
    left: 0;
    background-color: rgb(236, 61, 61);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.nav_links li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.testdiv {
    position: relative;
    display: flex; /* Use flex display to place divs side by side */
    flex-wrap: wrap; /* Wrap divs to the next row if the screen is too small */
    gap: 10px; /* Add some spacing between divs */
    margin: 10px;
    background-color: rgba(236, 230, 61, 0.8);
    font-family: 'Nabla', cursive;
    width: 10.5cm;
    height: 350px;
    width: 300px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 8px 20px 2px;
    transition: 0.25s ease-out ;
    
}
.testdiv h2 {
    background-color: rgba(0, 135, 202, 0);
    font-family: qart, 'Mooli', sans-serif;;
    font-size: 25px;
}
.testdiv:hover{
    cursor: pointer;
    transform: scale(1.1);
    position: relative;
    box-shadow: 0 0 15px 4px rgba(236, 230, 61, 0.5);

}
#content-container {
    display: grid;
    grid-template-columns: repeat(3, 200px); /* Create columns, adjust as needed */
    gap: 5px; /* Add spacing between grid items */
    padding: 20px; /* Add padding to the container */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    

}
.testdiv {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: space-evenly;
}
.maindiv {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex; /* Use flex display to place divs side by side */
    flex-wrap: wrap; /* Wrap divs to the next row if the screen is too small */
    gap: 10px; /* Add some spacing between divs */
    margin-bottom: 10px;
    background-color: rgba(236, 61, 61, 0.8);
    width: 100%;
    border-radius: 11px;
    margin-left:0;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 8px 20px 2px;
}
.maindiv h2 {
    background-color: rgba(0, 135, 202, 0);
    font-family: qart;
    font-size: 25px;
}
.maindiv {
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.welcome{
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(95, 95, 95, 0.4);

}
.welcome:hover {
    cursor: pointer;

}
.country {
    justify-content: space-evenly;
    display: flex;
    margin-top: 10px;
    margin-left: 0;

}
.country a {
    text-decoration: none;
    background-color: inherit;
    padding: 5px 10px;
    color: limegreen;
    font-family: qart;
    font-size: 20px;
    text-align: center;
    transition: 0.25s ease-in-out;
    font-size: 40px;

}
.country a, img {
    margin-top: 20px;
    border-radius: 10px;
}
.other {
    width: 300px;
    height: 183px;
}
.country:hover {
    cursor: pointer;
}
.cbox {
    background-color: #202125;
    padding: 15px 30px;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
}
.cbox:hover {
    cursor: default;
}
.country a:hover {
    box-shadow: 0 0 15px 5px rgba(236, 230, 61, 1);
    background-color: rgba(236, 230, 61, 1);
    border-radius: 10px;
    color: black;

}
.country p {
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    background-color: inherit;
    color: white;
    transition: 0.25s ease-in-out;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}
.country p:hover {
    box-shadow: 0 0 15px 5px rgba(236, 230, 61, 1);
    background-color: rgba(236, 230, 61, 1);
    border-radius: 10px;
    color: black;
}

.ritual {
    width: 50%;
    transform: translate(50%);
    background-color: rgba(236, 61, 61, 0.8);
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 45px;
    overflow: hidden;
    box-shadow: 0 0px 15px 0px;
    transition: 0.25s ease-in-out;
    
}
.ritual:hover {
    box-shadow: 0 0 15px 0px rgb(236, 61, 61);
    cursor: pointer;
}
.ritual h1, p {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: inherit;
    padding: 20px;

}
.ritual h1 {
    font-size: 30px;
}
.ritual p {
    font-size: 25px;
}
.ritual a {
    color: inherit;
}

.music {
    animation: padder 3s ease infinite;
    animation-delay: 0s;
    color: inherit;
    position: absolute;
    top: 90%;
    font-size: 40px;
    overflow: hidden;
}
.one {
    background-color: transparent;
    top: 80%;
}
.sec {
    background-color: transparent;
    left: 90%;
    top: 80%;
}
.tre {
    background-color: transparent;
    left: 85%;
    top: 75%;
}
.for {
    background-color: transparent;
    left: 18%;
    top: 60%;
}
.fiv {
    background-color: transparent;
    left: 10%;
    top: 55%;
}
.six {
    background-color: transparent;
    left: 80%;
    top: 55%;
}
.sev {
    background-color: transparent;
    left: 50%;
    top: 75%;
}

.h {
    color: white;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 25px;
}























@keyframes padder{
    0% {
        margin: 0;
        color: rgba(255, 255, 255, 0);
    }
    10% {
        margin: 5px;
        color: rgba(255, 255, 255, 0.5);
    }
    25% {
        margin: 10px;
        color: rgba(255, 255, 255, 0.75);
    }
    40% {
        margin: 15px;
        color: rgba(255, 255, 255, 0.5);
    }
    50% {
        margin: 20px;
        color: rgba(255, 255, 255, 0.25);
    }
    60% {
        margin: 25px;
        color: rgba(255, 255, 255, 0.5);
    }
    75% {
        margin: 30px;
        color: rgba(255, 255, 255, 0.75);
    }
    90% {
        margin: 35px;
        color: rgba(255, 255, 255, 0.5);
    }
    100% {
        margin: 40px;
        color: rgba(255, 255, 255, 0);
        overflow: hidden;

    }
}